<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="resume">
    <div class="resume_left">
        <div class="resume_profile">
            <img src="https://avatars2.githubusercontent.com/u/57484108?s=460&u=ba6dd90cb6f444716c7d7fb150fbafe4adb2c5da&v=4"
                 alt="profile_pic">
        </div>
        <div class="resume_content">
            <div class="resume_item resume_info">
                <div class="title">
                    <p class="bold">Чоповенко Василь</p>
                    <p class="regular">Backend-розробник</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fas fa-map-signs"></i>
                        </div>
                        <div class="data">
                            460, бульвар Шевченка, Черкаси <br/> Україна
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="data">
                            096 295 9807
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="data">
                            vasyachopovenko@gmail.com
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_skills">
                <div class="title">
                    <p class="bold">технології</p>
                </div>
                <ul>
                    <li>
                        <div class="skill_name">
                            JAVA
                        </div>
                        <div class="skill_progress">
                            <span style="width: 70%;"></span>
                        </div>
                        <div class="skill_per">70%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            JAVA EE
                        </div>
                        <div class="skill_progress">
                            <span style="width: 68%;"></span>
                        </div>
                        <div class="skill_per">68%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            Spring
                        </div>
                        <div class="skill_progress">
                            <span style="width: 55%;"></span>
                        </div>
                        <div class="skill_per">55%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            MySQL
                        </div>
                        <div class="skill_progress">
                            <span style="width: 50%;"></span>
                        </div>
                        <div class="skill_per">50%</div>
                    </li>
                    <li>
                        <div class="skill_name">
                            PostgreSQL
                        </div>
                        <div class="skill_progress">
                            <span style="width: 65%;"></span>
                        </div>
                        <div class="skill_per">65%</div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_social">
                <div class="title">
                    <p class="bold">Соціальні мережі</p>
                </div>
                <ul>
                    <li>
                        <div class="icon">
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Facebook</p>
                            <p>Vasya Chopovenko</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div class="data">
                            <p class="semi-bold">Instagram</p>
                            <p>vasya.chopovenko</p>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="press"><a href="resumeEN" style="color:#ffffff;">EN-version</a></p>
        </div>
    </div>
    <div class="resume_right">
        <div class="resume_item resume_about">
            <div class="title">
                <p class="bold">Про мене</p>
            </div>
            <p>У мене є велике бажання скласти добре написаний код, який допомагає створювати
                вдосконалені програми, які відповідають призначенню, функціонально коректні та
                відповідають точним потребам
                користувача. На особистому рівні я завантажений енергією та пристрастю. Зараз я
                хотів би приєднатися до компанії, де існує культура заохочення, поваги та
                колективна робота.</p>
        </div>
        <div class="resume_item resume_work">
            <div class="title">
                <p class="bold">вміння</p>
            </div>
            <ul>
                <li>
                    <div class="date">Backend-розробка з використанням Spring Framework</div>
                    <div class="info">
                        <p>Spring Framework забезпечує комплексну модель програмування та конфігурації для сучасних
                            корпоративних програм на базі Java - на будь-якій платформі розгортання.</p>
                    </div>
                </li>
                <li>
                    <div class="date">Методологія Agile/Scrum</div>
                    <div class="info">
                        <p>Scrum - це гнучка основа для розробки, постачання та підтримки складних продуктів, з
                            початковим акцентом на розробці програмного забезпечення.</p>
                    </div>
                </li>
                <li>
                    <div class="date">Мови</div>
                    <div class="info">
                        <p>Українська
                            <br>Російська
                            <br>Базова англійська</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_education">
            <div class="title">
                <p class="bold">Освіта</p>
            </div>
            <ul>
                <li>
                    <div class="date">2019 - 2023</div>
                    <div class="info">
                        <p class="semi-bold">Інженерія програмного забезпечення</p>
                        <p>Черкаський державний технологічний університет</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="resume_item resume_hobby">
            <div class="title">
                <p class="bold">Хоббі</p>
            </div>
            <ul>
                <li><i class="fas fa-book"></i></li>
                <li><i class="fas fa-gamepad"></i></li>
                <li><i class="fas fa-music"></i></li>
                <li><i class="fab fa-pagelines"></i></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>